{% extends 'base.html' %}
 {% block title %} {{ data.title }}{% endblock %}
{% block content %}
<div class="col-md-7">
  <form class="form-signin" method="post" action="/">
    <h2 class="form-signin-heading">Please enter your email to subscribe</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <!-- {{ session['id'] }} -->
    {% if 'content' in data %}
    <input type="email" id="inputEmail" value="{{data.content}}" class="form-control" placeholder="Email address" name="expression" required autofocus>
     {% else %}
     <input type="email" id="inputEmail" value="{{ session['email'] }}"  class="form-control" placeholder="Email address" name="expression" required autofocus>
     {% endif %}
    <br/><button class="btn btn-lg btn-primary btn-block col-md-3" type="submit">Subscribe Email</button>
  </form>
 </div>
 <br/>
 <div class="clearfix"></div>

<div class="col-md-7">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success" style="margin-top: 10px;">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>{{ message }}</strong>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
<div class="col-md-7">
  <h2>List of Subscribers</h2>
   
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody> 
    {% for udata in userdata %}
      <tr>
        <td>{{ udata.username }}</td>
        <td>{{ udata.email }}</td>
        <td> <a href="{{url_for('show_user', userid=udata.id)}}">Edit</a> | <a href="{{url_for('deleteUser', userid=udata.id)}}">Delete</a></td>
      </tr>
      {% endfor %} 
    </tbody>
  </table>
</div>
{% endblock %} 